@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind apply;

:root {
    --foreground-1-color: #c0c0c0;
    --foreground-2-1-color: #76a3c0;
    --foreground-2-2-color: #3e647c;
    --background-color: #0a0a0f;
    --background-panel-color: #0f172a;
    --about-panel-1-color: #37414b;
    --about-panel-2-color: #3e647c;
}

:root:has(*[data-detect-theme="light"]){
  --foreground-1-color: #0a0a08;
  --foreground-2-1-color: #4a5f48;
  --foreground-2-2-color: #1a1f18;
  --background-color:#d6dbdc;
  --background-panel-color: #f0f0f5;
  --about-panel-1-color: #f0f0f5;
  --about-panel-2-color: #e0f0f0;
}

body {
  @apply text-fg-1 bg-backest;
}

dialog{
  @apply text-fg-1 bg-panel;
}

body:has(dialog[open]){
  @apply overflow-hidden;
}

* {
  @apply p-0 m-0;
}

div,
main,
textarea,
button,
li,
ul{
  @apply w-full h-full flex justify-center items-center;
}

p {
  @apply w-max h-max;
}
